body {
  font-family: Helvetica, Arial;
  background-color: #FAFAFA;
  margin-top: 30px;
}
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.container {
  max-width: 740px;
  margin: 0 auto;
  border-radius: 4px;
  background-color: white;
  border: 1px solid rgba(0,0,0,0.08);
}
input, select, button {
  padding: 6px 12px;
  border-radius: 4px;
  border: 1px solid rgba(0,0,0,0.2);
  background-color: white;
}
input[type='text'], select, input[type='number'] {
  width: 100%;
}
input[type='submit']:hover, button:hover {
  background-color: #FAFAFA;
  cursor: pointer;
}
form > div {
  margin-left: -15px;
  margin-right: -15px;
  margin-bottom: 15px;
}
.container header {
  padding: 17px 30px 18px;
  background-color: #529ECC;
  color: white;
  font-weight: bold;
  line-height: 1.2;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  font-size: 30px;
}
.col-sm-2, .col-sm-10 {
  position: relative;
  min-height: 1px;
  display: inline-block;
  padding-left: 15px;
  padding-right: 15px;
}
.col-sm-2 {
  width: 20%;
  float: left;
  font-weight: bold;
  text-align: right;
  padding-top: 7px;
}
.col-sm-10 {
  width: 79%;
}
.container header a {
  color: white;
}
.container footer {
  border-top: 1px solid rgba(0,0,0,0.08);
  padding: 10px;
}
.indent {
  display: inline-block;
  width: 1em;
}
.container .bod {
  padding: 20px;
}
input[name='hidden'] {
  display: none;
}
