-@ val lists: Map[String,List[String]]
- attributes("title") = "lc.fn.sketchy: a sketchy url shortener"
- attributes("headline") = "URL"

form(action='/new' method='post')
  div
    .col-sm-2 URL
    .col-sm-10
      input(name='url' type='text' placeholder="URL")
  div
    .col-sm-2 Word Lists
    .col-sm-10
      select(name="lists" size={lists.keys.toList.length} multiple)
        - for(list <- lists.keys.toList)
          option(value=list selected={list=="nsa_watchlist.txt"})
            = list
            | (#{lists(list).length} terms)
  div
    .col-sm-2 Max words
    .col-sm-10
      input(name="words" type="number" value="8")
  div
    .col-sm-2
    .col-sm-10
      input(name="base62" type='checkbox' value="yes")
      | Normal (Base62)
  input(name="hidden" type='text')
  .div
    .col-sm-2
    .col-sm-10
      input(type='submit' value='Shorten')
