-@ val title: String
-@ val headline: String = title
-@ val body: String

!!!
html
  head
    title= title
    link(href="/css/main.css" rel="stylesheet")
  body
    .container
      header
        a(href="http://fn.lc") fn.lc/
        a(href="/short") Sketchy.shorten
        | ( #{headline} );
      .bod
        != body
      footer
        | Copyright (C) 2014 Tristan Rice. Licensed under the MIT license.
        a(href="https://github.com/d4l3k/sketchy-url-shortener") Source Code
