-@ val title: String
-@ val headline: String = title
-@ val body: String

!!!
html
  head
    title= title
    link(href="/css/main.css" rel="stylesheet")
  body
    .container
      h1
        a(href="http://fn.lc") function Look()
        | {
        a(href="/short") Sketchy.shorten
        | (
        = headline
        | ) }
      hr
      != body
      hr
      | Copyright (C) 2014 Tristan Rice. Licensed under the MIT license.
